build
backup
plots
.idea
.cache
.DS_Store
.vscode
docs/build
docs/build/doctrees/
docs/plots_how_to_use/*
examples/*.png
!examples/api.png
*.zip
*.py~
*.pyc
*.swp
.gitignore~
.spyderworkspace
*.lprof
*.lprof~
.ipynb_checkpoints
.ipynb_checkpoints/*
pyLARDA/*.c
pyLARDA/*.so
__pycache__/

http_server/public/*
http_server/*.log
http_server/__pycache__/*

Case.py
CloudCam.py
DataBuffer.py
FIT_Lsq.py
IO.py
MeteoReader.py
ParameterInfo.py.old
Spec.py
VIS_Colorplot.py
VIS_Fivethird.py
VIS_Graph.py
VIS_Graph.pyc
VIS_Histograms.py
VIS_Html2.py
VIS_Html.py
VIS_RCParameters2.py
VIS_RCParameters.py
