recursive-include examples *.py *.png
recursive-include scripts *.py *.png
recursive-include http_server *.py *.sh
recursive-include docs *
global-include *.pyx
global-include *.pxd
global-include *.toml
